<h1>Driver#show</h1>
<p>Find me in app/views/drivers/show.html.erb</p>
<p><a href="https://projects.invisionapp.com/share/NPNSQSI2QFM#/screens/317226179">invision</a></p>
<h1><%= @driver.name %></h1>

<ul>
Influences to assets:
<% ad = @driver.assets_drivers_joins.group_by(&:asset) %>
<% ad.keys.each do |key| %>
<li><%= key.name %> </li>
<% end %>
</ul>

<ul>
  Likely to influence:
  <% im = @materialities.group_by{|m| m.production_process.sub_industry}  %>
  
  <% im.keys.each do |ind| %>

  <table>
    <tr>
      <th>   <%= ind.name %> </th>
      <th> Materiality Rating </th>
      <th> </th>
    </tr>
    <% im[ind].each do |m| %>
    
    <tr>
      <td><%= m.production_process.name %></td>
      <td><%= m.rag %></td>
      <td><%= m.justification %></td>
    </tr>
      
    <% end %>
  </table>
  
  <% end %>
</ul>
