<div >
  
  <ul>
    <strong>About Menu: <em><a href="https://projects.invisionapp.com/share/NPNSQSI2QFM#/screens/318724894">invision</a><em></strong>
    <li>
      <%= link_to 'What is AERM', about_aerm_path %>
    </li>
    <li>
      <%= link_to 'About NCFA', about_ncfa_path %>
    </li>
  </ul>
  <%= link_to 'Explore', '' %>
  
  <ul>
    <strong>Data and Methodology: <em><a href="https://projects.invisionapp.com/share/NPNSQSI2QFM#/screens/318724947">invision</a><em></strong>
    <li>
      <%= link_to 'Methodology', methodology_path %>
    </li>
    <li>
      <%= link_to 'Data Collection', collection_path %>
    </li>
    <li>
      <%= link_to 'Limitations', limitations_path %>
    </li>
    <li>
      <%= link_to 'Ratings', ratings_path %>
    </li>
    <li>
      <%= link_to 'Sectors', sector_index_path %>
    </li>
    <li>
      <%= link_to 'Services', ecosystem_service_index_path  %>
    </li>
    <li>
      <%= link_to 'Drivers', driver_index_path %>
    </li>
    <li>
      <%= link_to 'Assets', asset_index_path  %>
    </li>
  </ul>
  <%= link_to 'Case Studies', '' %>
  <%= link_to 'Contact', contact_path %>

</div>
